Repository Techeer-log/Techeer-log, pull requests merged in 2023-11, with the labels that each got.

#43 [UI] 회원가입 페이지 퍼블리싱 수정
  frontend/src/assets/SignupImg.png
  frontend/src/pages/SignUp.tsx
Labels: chore, UI

#46 [fix] Docker backend 빌드 오류 수정
  .DS_Store
  backend/Dockerfile
  backend/gradlew.bat
  backend/out/production/resources/application-dev.yml
  backend/out/production/resources/sql/schema.sql
  backend/src/main/java/consolelog/member/controller/MemberController.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/sql/schema.sql
  docker-compose.yml
Labels: backend, setting

#48 [feat] 게시글 작성 페이지 로직 구현 및 api 연동 완료
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/MarkdownEditor.tsx
  frontend/src/components/MarkdownPreview.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/PostingPage.tsx
  frontend/vite.config.ts
  node_modules/.package-lock.json
  node_modules/dotenv/CHANGELOG.md
  node_modules/dotenv/LICENSE
  node_modules/dotenv/README-es.md
  node_modules/dotenv/README.md
  node_modules/dotenv/config.d.ts
  node_modules/dotenv/config.js
  node_modules/dotenv/lib/cli-options.js
  node_modules/dotenv/lib/env-options.js
  node_modules/dotenv/lib/main.d.ts
  node_modules/dotenv/lib/main.js
  node_modules/dotenv/package.json
Labels: feature, frontend

#51 [chore]: post 코드 정리, post swagger 수정
  backend/src/main/java/consolelog/global/result/ResultCode.java
  backend/src/main/java/consolelog/post/controller/PostController.java
  backend/src/main/java/consolelog/post/dto/response/BoardResponse.java
  backend/src/main/java/consolelog/post/dto/response/PostResponse.java
  backend/src/main/java/consolelog/post/repository/PostRepository.java
  backend/src/main/java/consolelog/post/service/PostService.java
Labels: backend, chore

#52 [feat] Error Response 구현
  backend/src/main/java/consolelog/auth/domain/encryptor/Encryptor.java
  backend/src/main/java/consolelog/auth/exception/AuthorizationException.java
  backend/src/main/java/consolelog/auth/exception/LoginFailedException.java
  backend/src/main/java/consolelog/comment/exception/CommentNotFoundException.java
  backend/src/main/java/consolelog/comment/exception/InvalidMessageException.java
  backend/src/main/java/consolelog/comment/exception/ReplyDepthException.java
  backend/src/main/java/consolelog/global/advice/BadRequestException.java
  backend/src/main/java/consolelog/global/advice/BusinessException.java
  backend/src/main/java/consolelog/global/advice/ExternalLibraryException.java
  backend/src/main/java/consolelog/global/advice/ForbiddenException.java
  backend/src/main/java/consolelog/global/advice/InternalException.java
  backend/src/main/java/consolelog/global/advice/NotFoundException.java
  backend/src/main/java/consolelog/global/advice/UnauthorizedException.java
  backend/src/main/java/consolelog/global/config/WebMvcConfig.java
  backend/src/main/java/consolelog/global/error/ErrorCode.java
  backend/src/main/java/consolelog/global/error/ErrorResponse.java
  backend/src/main/java/consolelog/global/error/GlobalExceptionHandler.java
  backend/src/main/java/consolelog/global/support/AuthInterceptor.java
  backend/src/main/java/consolelog/global/support/token/InvalidAccessTokenException.java
  backend/src/main/java/consolelog/global/support/token/InvalidRefreshTokenException.java
  backend/src/main/java/consolelog/global/support/token/TokenNotFoundException.java
  backend/src/main/java/consolelog/like/exception/CommentLikeNotFoundException.java
  backend/src/main/java/consolelog/member/exception/DuplicateNicknameException.java
  backend/src/main/java/consolelog/member/exception/InvalidLoginIdException.java
  backend/src/main/java/consolelog/member/exception/InvalidNicknameException.java
  backend/src/main/java/consolelog/member/exception/InvalidPasswordFormatException.java
  backend/src/main/java/consolelog/member/exception/InvalidSignupFlowException.java
  backend/src/main/java/consolelog/member/exception/MemberNotFoundException.java
  backend/src/main/java/consolelog/member/exception/PasswordConfirmationException.java
  backend/src/main/java/consolelog/post/exception/InvalidContentException.java
  backend/src/main/java/consolelog/post/exception/InvalidTitleException.java
  backend/src/main/java/consolelog/post/exception/PostNotFoundException.java
Labels: backend, feature

#59 [feat] 로그인 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/LoginModal.tsx
  frontend/src/pages/SignUp.tsx
  frontend/src/setupProxy.ts
  frontend/src/states/Atom.ts
  frontend/vite.config.ts
Labels: feature, frontend

#61 Fe/feat/#58
  frontend/src/components/Dropdown.tsx
  frontend/src/components/LoginModal.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/SignUp.tsx
  frontend/src/states/Atom.ts
Labels: feature, frontend

#57 [feat] Nginx 초기세팅
  backend/src/main/java/consolelog/SampleEntity.java
  backend/src/main/java/consolelog/auth/controller/AuthController.java
  backend/src/main/java/consolelog/comment/controller/CommentController.java
  backend/src/main/java/consolelog/global/config/WebMvcConfig.java
  backend/src/main/java/consolelog/global/support/AuthInterceptor.java
  backend/src/main/java/consolelog/like/controller/LikeController.java
  backend/src/main/java/consolelog/member/controller/MemberController.java
  backend/src/main/java/consolelog/post/controller/PostController.java
  docker-compose.yml
  nginx/Dockerfile
  nginx/app.conf
  nginx/nginx.conf
Labels: backend, chore, feature

#73 [feat]로그인시 프로필 사진 추가
  frontend/src/components/LoginModal.tsx
  frontend/src/pages/SignUp.tsx
Labels: feature, frontend

#74 Fe/feat/#58
  frontend/src/components/Dropdown.tsx
  frontend/src/components/LoginModal.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/pages/SignUp.tsx
Labels: chore, feature, frontend

#76 [fix] PostPage api 불러오기 방식 변경 및 주소 변경
  frontend/package-lock.json
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/PostingPage.tsx
Labels: bug, frontend

#78 [feat] 게시글 페이지 구현 중
  frontend/src/App.tsx
  frontend/src/components/LoginModal.tsx
  frontend/src/components/MarkdownEditor.tsx
  frontend/src/pages/BoardPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/PostingPage.tsx
  frontend/vite.config.ts
Labels: feature, frontend

#92 Fe/feat/#75
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/LoginModal.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/pages/BoardPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/SignUp.tsx
  frontend/src/states/Atom.ts
Labels: chore, feature, frontend

#93 Fe/feat/#75
  frontend/src/App.tsx
  frontend/src/components/LoginModal.tsx
  frontend/src/components/MarkdownPreview.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/pages/BoardPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/PostingPage.tsx
  frontend/src/pages/SignUp.tsx
  frontend/src/pages/WritingEditPage.tsx
  frontend/src/pages/WritingPage.tsx
Labels: chore, feature, frontend

#98 fix : framer-motion 폴더 위치 수정
  frontend/package-lock.json
  frontend/package.json
Labels: bug, frontend

#100 fix : docker 용 오류 수정
  frontend/src/pages/BoardPage.tsx
Labels: bug, frontend
