Repository Techeer-log/Techeer-log, pull requests merged in 2024-09, with the labels that each got.

#347 [feat]프로젝트 페이지 추가
  frontend/src/app/router/router.tsx
  frontend/src/entities/ProjectTabs/ui/ProjectTabs.tsx
  frontend/src/entities/ProjectTabs/ui/Tabs.tsx
  frontend/src/entities/carousel/ui/Carousel.tsx
  frontend/src/entities/filter/ui/Dropdown.tsx
  frontend/src/entities/myPage/ui/MyPageProfile.tsx
  frontend/src/entities/myPage/ui/scrapCard.tsx
  frontend/src/entities/projectList/ui/projectList.tsx
  frontend/src/entities/textEdit/ui/bottomButtons.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MyPage.tsx
  frontend/src/pages/Project/ProjectPage.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/index.ts
  frontend/src/shared/ui/Footer.tsx
  frontend/src/shared/ui/NavBar.tsx
  frontend/src/shared/ui/ProjectCard.tsx
  frontend/src/shared/ui/ProjectDropDown.tsx
  frontend/src/shared/ui/UserDropDown.tsx
Labels: feature, frontend

#348 [feat] 메인페이지 카드 호버 기능 추가
  frontend/index.html
  frontend/src/entities/projectList/ui/projectList.tsx
  frontend/src/entities/projectView/ui/ProjectView.tsx
  frontend/src/feature/ProjectWrite/MarkDownView.tsx
  frontend/src/feature/ProjectWrite/ProjectWrite.tsx
  frontend/src/index.css
  frontend/src/shared/assets/image/mainImg/arrow.png
  frontend/src/shared/types/projectList.ts
  frontend/src/shared/ui/ProjectCard.tsx
Labels: feature, frontend

#350 [feat] 프로젝트 리스트 형식 선택 토글 기능 추가
  frontend/src/entities/myPage/ui/uploadList.tsx
  frontend/src/entities/projectList/ui/projectList.tsx
  frontend/src/entities/projectView/ui/ProjectView.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/Project/ProjectPage.tsx
  frontend/src/pages/bootcamp/BootCampPage.tsx
  frontend/src/shared/assets/image/listImg/BoxIcon.png
  frontend/src/shared/assets/image/listImg/ListIcon.png
  frontend/src/shared/types/projectList.ts
  frontend/src/shared/ui/ListToggle.tsx
  frontend/src/shared/ui/ProjectBoxCard.tsx
  frontend/src/shared/ui/ProjectListCard.tsx
Labels: feature, frontend

#353 [fix] 리스트토글 불러오기 에러 수정
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/Project/ProjectPage.tsx
Labels: bug, frontend

#357 [design] 검색 기능 프로젝트 페이지로 변경
  frontend/package-lock.json
  frontend/package.json
  frontend/src/entities/ProjectTabs/ui/ProjectTabs.tsx
  frontend/src/entities/myPage/ui/scrapCard.tsx
  frontend/src/entities/myPage/ui/scrapList.tsx
  frontend/src/entities/myPage/ui/uploadList.tsx
  frontend/src/entities/onboarding/ui/Bootcamp.tsx
  frontend/src/entities/onboarding/ui/Project.tsx
  frontend/src/entities/projectList/api/getProjectList.ts
  frontend/src/entities/projectList/query/useGetProjectQuery.tsx
  frontend/src/entities/projectList/ui/projectList.tsx
  frontend/src/entities/search/api/projectSearch.ts
  frontend/src/entities/search/ui/DropdownSearch.tsx
  frontend/src/entities/search/ui/Search.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/Project/ProjectPage.tsx
  frontend/src/shared/ui/Footer.tsx
  frontend/src/shared/ui/ProjectBoxCard.tsx
  frontend/src/shared/ui/ProjectListCard.tsx
  frontend/yarn.lock
Labels: bug, frontend, UI

#363 [fix] 메인 화면 css 수정
  frontend/src/pages/MainPage.tsx
Labels: frontend, UI

#365 [feat] Dockerfile COPY .css file
  frontend/Dockerfile
Labels: devops

#366 [feat] Jenkins CI/CD Pipeline
  Jenkinsfile
  backend-build.sh
  backend/.gitignore
  deploy.sh
Labels: devops, feature

#370 [fix] Jenkinsfile
  Jenkinsfile
Labels: devops

#371 [fix] Jenkinsfile 수정
  Jenkinsfile
Labels: devops

#373 [fix] Jenkinsfile 수정
  Jenkinsfile
Labels: devops
