Repository Techeer-log/Techeer-log, pull requests merged in 2024-05, with the labels that each got.

#171 [feat] pinpoint 도입 완료
  backend/Dockerfile
  backend/out/production/resources/application-dev.yml
  backend/src/main/resources/application.yml
  docker-compose.develop.yml
  pinpoint/docker-compose.yml
Labels: feature

#179 [FE/feat/#170] 로그인, 회원가입 API 연동
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/router/router.tsx
  frontend/src/entities/login/index.ts
  frontend/src/entities/login/ui/LogIn.tsx
  frontend/src/entities/signup/index.ts
  frontend/src/entities/signup/ui/SignUp.tsx
  frontend/src/shared/assets/image/loginImg/Background-Login.png
  frontend/src/shared/assets/image/loginImg/Icon-Id.png
  frontend/src/shared/assets/image/loginImg/Icon-Password.png
  frontend/src/shared/assets/image/signupImg/signup.svg
  frontend/src/shared/store/authStore.ts
  frontend/vite.config.ts
Labels: feature, frontend

#200 [FE/feat/#163] 프로젝트 작성 페이지 구현, 익명 사용자 토큰 적용, 로그아웃 구현
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/app/router/router.tsx
  frontend/src/app/style/globalStyle.ts
  frontend/src/entities/login/ui/LogIn.tsx
  frontend/src/entities/projectInputModal/ui/Calendar.tsx
  frontend/src/entities/projectInputModal/ui/MemberInfo.tsx
  frontend/src/entities/projectInputModal/ui/ProjectInfo.tsx
  frontend/src/entities/projectInputModal/ui/TechStackInfo.tsx
  frontend/src/entities/signup/ui/SignUp.tsx
  frontend/src/entities/textEdit/api/index.ts
  frontend/src/entities/textEdit/api/uploadImage.ts
  frontend/src/entities/textEdit/api/uploadProject.ts
  frontend/src/entities/textEdit/index.ts
  frontend/src/entities/textEdit/ui/ImageUpload.tsx
  frontend/src/entities/textEdit/ui/bottomButtons.tsx
  frontend/src/entities/textEdit/ui/headerInput.tsx
  frontend/src/entities/textEdit/ui/markdownView.tsx
  frontend/src/feature/ProjectWrite/MarkDownView.tsx
  frontend/src/feature/ProjectWrite/ProjectWrite.tsx
  frontend/src/feature/ProjectWrite/index.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/ProjectWritePage.tsx
  frontend/src/pages/index.ts
  frontend/src/shared/api/anonymousToken.ts
  frontend/src/shared/api/index.ts
  frontend/src/shared/constants/index.ts
  frontend/src/shared/constants/projectWrite.ts
  frontend/src/shared/store/authStore.ts
  frontend/src/shared/store/store.ts
  frontend/src/shared/ui/NavBar.tsx
Labels: feature, frontend

#204 [FE/feat/#163] formData 오류 수정
  frontend/src/entities/textEdit/api/uploadImage.ts
  frontend/src/entities/textEdit/ui/ImageUpload.tsx
Labels: bug, frontend
