Repository Techeer-log/Techeer-log, pull requests merged in 2024-07, with the labels that each got.

#274 [FE/fix/#271] 한글로 태그 생성 시 두 번씩 생성되는 에러 수정
  frontend/src/entities/projectInputModal/ui/MemberInfo.tsx
  frontend/src/entities/projectInputModal/ui/TechStackInfo.tsx
  frontend/src/pages/MainPage.tsx
Labels: bug, frontend

#275 [fix] 프로젝트 작성 버튼 재생성
  frontend/src/shared/ui/NavBar.tsx
Labels: bug, frontend

#277 [fix] 피드백 반영 검색 기능 수정
  frontend/src/app/style/globalStyle.ts
  frontend/src/entities/search/ui/Search.tsx
Labels: bug, frontend

#278 [feat]프로젝트 수정 기능 구현
  frontend/src/app/router/router.tsx
  frontend/src/entities/projectInputModal/ui/MemberInfo.tsx
  frontend/src/entities/projectInputModal/ui/ProjectInfo.tsx
  frontend/src/entities/projectView/ui/ProjectView.tsx
  frontend/src/entities/textEdit/index.tsx
  frontend/src/entities/textEdit/ui/headerInput.tsx
  frontend/src/feature/ProjectWrite/ProjectWrite.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/Project/ui/Comments.tsx
  frontend/src/pages/ProjectEditPage.tsx
  frontend/src/shared/constants/storeProjectData.ts
  frontend/src/shared/store/store.ts
  frontend/src/shared/types/projectStore.ts
Labels: feature, frontend

#282 [feat] 수정 기능 구현
  frontend/src/entities/projectComments/api/comments.ts
  frontend/src/entities/projectComments/index.ts
  frontend/src/entities/projectComments/ui/ProjectComment.tsx
  frontend/src/entities/projectComments/ui/SingleComment.tsx
  frontend/src/entities/projectInputModal/ui/Calendar.tsx
  frontend/src/entities/projectInputModal/ui/ProjectInfo.tsx
  frontend/src/entities/textEdit/api/index.ts
  frontend/src/entities/textEdit/api/putProject.ts
  frontend/src/entities/textEdit/api/uploadProject.ts
  frontend/src/entities/textEdit/ui/bottomButtons.tsx
  frontend/src/shared/store/store.ts
Labels: feature, frontend

#286 [feat] 프로젝트 작성,수정 시 store값 초기화
  frontend/src/entities/projectInputModal/ui/MemberInfo.tsx
  frontend/src/entities/projectInputModal/ui/ProjectInfo.tsx
  frontend/src/entities/textEdit/ui/bottomButtons.tsx
  frontend/src/shared/store/store.ts
  frontend/src/shared/types/projectStore.ts
Labels: feature, frontend

#289 [fix] 모달 이전으로 이동 시 에러 뜨는 현상 수정
  frontend/src/entities/projectInputModal/ui/MemberInfo.tsx
  frontend/src/entities/projectInputModal/ui/TechStackInfo.tsx
  frontend/src/shared/store/store.ts
  frontend/src/shared/types/projectStore.ts
Labels: bug, frontend

#294 [fix] 프론트 배포 시 에러 수정
  frontend/src/entities/projectInputModal/ui/TechStackInfo.tsx
Labels: bug, frontend

#296 [fix] 프로젝트 작성 부분 css 수정
  frontend/src/feature/ProjectWrite/ProjectWrite.tsx
Labels: bug, frontend

#299 [fix] 프로젝트 작성 시 네비게이션 수정 및 반응형 디자인 추가
  frontend/src/app/style/globalStyle.ts
  frontend/src/entities/projectView/ui/ProjectView.tsx
  frontend/src/entities/textEdit/ui/bottomButtons.tsx
Labels: bug, frontend, UI
