Repository Techeer-log/Techeer-log, pull requests merged in 2024-06, with the labels that each got.

#223 메인페이지 무한스크롤 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/entities/projectList/api/getProjectList.ts
  frontend/src/entities/projectList/index.ts
  frontend/src/entities/projectList/query/useGetProjectQuery.tsx
  frontend/src/entities/projectList/ui/projectList.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/shared/authorization/getToken.ts
  frontend/src/shared/types/projectList.ts
  frontend/src/shared/ui/ProjectCard.tsx
Labels: feature, frontend

#240 게시글 페이지 사소한 기능 수정
  frontend/src/entities/projectView/ui/LikeButton.tsx
  frontend/src/entities/projectView/ui/ProjectView.tsx
  frontend/src/entities/projectView/ui/ScrapButton.tsx
  frontend/src/pages/Project/ui/Comments.tsx
  frontend/src/pages/Project/ui/Project.tsx
  frontend/src/shared/types/project.ts
  frontend/src/shared/ui/NavBar.tsx
Labels: feature, frontend

#243 [FE/feat/#222] 검색 기능 구현 완료 및 네비게이션 바 수정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/entities/projectList/ui/projectList.tsx
  frontend/src/entities/search/index.ts
  frontend/src/entities/search/ui/DropdownSearch.tsx
  frontend/src/entities/search/ui/Search.tsx
  frontend/src/entities/textEdit/ui/ImageUpload.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/shared/assets/image/searchImg/Cancel-Search.svg
  frontend/src/shared/ui/Footer.tsx
  frontend/src/shared/ui/NavBar.tsx
Labels: feature, frontend

#245 [fix] 네비게이션 바 폴백 수정
  frontend/src/entities/myPage/ui/MyPage.tsx
  frontend/src/pages/ProjectPage.tsx
  frontend/src/shared/ui/NavBar.tsx
Labels: bug, frontend

#246 [FE/feat/#222] 배포용 img 수정
  frontend/src/entities/filter/ui/Dropdown.tsx
  frontend/src/entities/projectList/ui/projectList.tsx
  frontend/src/entities/search/ui/Search.tsx
  frontend/src/index.css
  frontend/src/pages/MainPage.tsx
  frontend/vite.config.ts
Labels: feature

#248 [feat]부트캠프 기간 필터 기능 추가
  frontend/.gitignore
  frontend/src/entities/filter/ui/Dropdown.tsx
  frontend/src/entities/projectList/api/getProjectList.ts
  frontend/src/entities/projectList/ui/projectList.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/shared/types/projectList.ts
  frontend/src/shared/ui/ProjectCard.tsx
  frontend/vite.config.ts
Labels: feature, frontend

#250 [feat]로그인, 회원가입기능 엔터키 적용
  frontend/src/entities/carousel/css/embla.css
  frontend/src/entities/login/ui/LogIn.tsx
  frontend/src/entities/signup/ui/SignUp.tsx
  frontend/src/shared/ui/Footer.tsx
Labels: feature, frontend

#253 [fix] 배포 css 오류 수정
  frontend/src/entities/projectInputModal/Calendar.css
  frontend/src/entities/projectInputModal/ui/Calendar.tsx
  frontend/src/entities/projectInputModal/ui/MemberInfo.tsx
  frontend/src/entities/projectInputModal/ui/ProjectInfo.tsx
Labels: bug, frontend
