Repository Techeer-log/Techeer-log, pull requests merged in 2024-11, with the labels that each got.

#400 [fix] 프로젝트 리스트로 조회 시 깃허브 및 블로그 링크 클릭 안되던 버그 수정
  frontend/src/shared/ui/ProjectListCard.tsx
Labels: bug, frontend

#410 [feat] 프로젝트 리스트 캐싱 설정
  frontend/src/entities/projectList/query/useGetProjectQuery.tsx
  frontend/src/entities/projectList/ui/projectList.tsx
Labels: feature, frontend

#412 refactor : info logging 제거
  backend/src/main/java/com/techeerlog/project/controller/ProjectController.java
Labels: backend, bug, devops

#415 fix : Property 에서 공백 문자열로 대체
  backend/build.gradle
Labels: backend, bug, devops

#417 fix : application deploy 중복 블럭 제거
  backend/src/main/resources/application-deploy.yml
Labels: backend, chore, devops

#396 [test] project service layer unit test 작성
  backend/src/main/java/com/techeerlog/global/config/RedisConfig.java
  backend/src/main/java/com/techeerlog/project/domain/Project.java
  backend/src/main/java/com/techeerlog/project/dto/ProjectMemberRequest.java
  backend/src/main/java/com/techeerlog/project/dto/ProjectRequest.java
  backend/src/main/java/com/techeerlog/project/dto/ProjectResponse.java
  backend/src/test/java/com/techeerlog/project/service/ProjectServiceTest.java
Labels: backend, test

#397 [test] LoveService Unit 테스트
  backend/src/main/java/com/techeerlog/love/exception/LoveAccessDeniedException.java
  backend/src/main/java/com/techeerlog/love/exception/LoveAlreadyExistsException.java
  backend/src/main/java/com/techeerlog/love/exception/LoveNotFoundException.java
  backend/src/main/java/com/techeerlog/love/service/LoveService.java
  backend/src/test/java/com/techeerlog/love/service/LoveServiceTest.java
Labels: backend, test

#420 [fix] 중복되었던 @Primary 애너테이션 제거
  backend/src/main/java/com/techeerlog/global/config/RedisConfig.java
Labels: backend, bug
