Repository Techeer-log/Techeer-log, pull requests merged in 2024-04, with the labels that each got.

#123 setting: tailwind, prettier 설정
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
Labels: setting

#125 회원가입페이지 퍼블리싱
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/pages/NavBar.tsx
  frontend/src/pages/SignUp.tsx
  frontend/src/shared/assests/signup.svg
  frontend/src/shared/fonts/Bayon/Bayon-Regular.ttf
  frontend/src/shared/fonts/Bayon/OFL.txt
  frontend/src/shared/fonts/Pretendard/Pretendard-Black.woff
  frontend/src/shared/fonts/Pretendard/Pretendard-Bold.woff
  frontend/src/shared/fonts/Pretendard/Pretendard-ExtraBold.woff
  frontend/src/shared/fonts/Pretendard/Pretendard-ExtraLight.woff
  frontend/src/shared/fonts/Pretendard/Pretendard-Light.woff
  frontend/src/shared/fonts/Pretendard/Pretendard-Medium.woff
  frontend/src/shared/fonts/Pretendard/Pretendard-Regular.woff
  frontend/src/shared/fonts/Pretendard/Pretendard-SemiBold.woff
  frontend/src/shared/fonts/Pretendard/Pretendard-Thin.woff
  frontend/src/styled.d.ts
Labels: feature

#130 feat : footer 퍼블리싱
  frontend/src/pages/Footer.tsx
  frontend/src/shared/assests/pointBanner.png
Labels: feature, frontend

#133 feat : 로그인 페이지 퍼블리싱
  frontend/src/App.tsx
  frontend/src/pages/LogIn.tsx
  frontend/src/shared/assests/Background-Login.png
  frontend/src/shared/assests/Icon-Id.png
  frontend/src/shared/assests/Icon-Password.png
Labels: feature, frontend

#134 feat : 로그인 페이지 퍼블리싱 수정 px -> rem
  frontend/src/pages/LogIn.tsx
Labels: feature, frontend

#136 [feat] MyPage 퍼블리싱 완료
  frontend/fonts.d.ts
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/pages/Footer.tsx
  frontend/src/pages/MyPage.tsx
  frontend/src/pages/NavBar.tsx
  frontend/src/shared/assests/BigProfileImg.png
  frontend/src/shared/assests/ThumbNailImg.png
  frontend/src/shared/fonts/Pretendard-Regular.ttf
  frontend/src/shared/fonts/Pretendard-SemiBold.ttf
Labels: feature, frontend

#151 [FE/feat/#137] 프로젝트 조회 페이지 퍼블리싱
  .jpb/jpb-settings.xml
  frontend/src/App.tsx
  frontend/src/entities/myPage/index.ts
  frontend/src/entities/myPage/ui/MyPage.tsx
  frontend/src/entities/projectView/image/Icon-Github.png
  frontend/src/entities/projectView/image/Icon-Like.png
  frontend/src/entities/projectView/image/Icon-Link.png
  frontend/src/entities/projectView/image/Icon-Medium.png
  frontend/src/entities/projectView/image/Icon-Scrap.png
  frontend/src/entities/projectView/image/Icon-Share.png
  frontend/src/entities/projectView/index.ts
  frontend/src/entities/projectView/ui/ProjectView.tsx
Labels: feature, frontend

#159 refactor : 메인페이지 폴더 구조 관련 리팩토링
  frontend/src/entities/search/index.ts
  frontend/src/entities/search/ui/Search.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/shared/assets/image/cardImg/ThumbNailImg.png
  frontend/src/shared/assets/image/mainImg/Background-Main.png
  frontend/src/shared/assets/image/mainImg/Icon-Point.png
  frontend/src/shared/assets/image/searchImg/Icon-Search.png
  frontend/src/shared/ui/ProjectCard.tsx
Labels: etc, frontend
